*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

.container{
    width:80%;
    margin:30px auto;
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#333;
}

.summary{
    display:flex;
    gap:20px;
    margin-bottom:25px;
}

.card{
    flex:1;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card h3{
    margin-bottom:10px;
    color:#555;
}

.card p{
    font-size:24px;
    font-weight:bold;
}

#income{
    color:green;
}

#expense{
    color:red;
}

#balance{
    color:#007bff;
}

form{
    display:flex;
    gap:10px;
    margin-bottom:20px;
    flex-wrap:wrap;
}

input,
select{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:6px;
    background:#007bff;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

#search{
    width:100%;
    margin-bottom:20px;
}

ul{
    list-style:none;
}

li{
    background:white;
    padding:15px;
    margin-bottom:10px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

li button{
    background:red;
    padding:8px 12px;
}

li button:hover{
    background:darkred;
}

@media(max-width:768px){

    .summary{
        flex-direction:column;
    }

    form{
        flex-direction:column;
    }

    .container{
        width:95%;
    }
}